Arduino-Mini-Drone-PIO/.pio
Arduino-Mini-Drone-PIO/.vscode/.browse.c_cpp.db*
Arduino-Mini-Drone-PIO/.vscode/c_cpp_properties.json
Arduino-Mini-Drone-PIO/.vscode/launch.json
Arduino-Mini-Drone-PIO/.vscode/ipch
Arduino-Mini-Drone-PIO/.gitignore
Arduino-Mini-Drone-PIO/temp
.vscode/c_cpp_properties.json

Arduino-Mini-Drone-KiCad/Datasheets
